{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "quotes":"off",
        "object-curly-spacing":"off",
        "linebreak-style":"off",
        "arrow-parens":"off",
        "comma-dangle":"off",
        "indent":"off",
        "key-spacing":"off",
        "array-bracket-spacing":"off",
        "eol-last":"off",
        "require-jsdoc":"off",
        "no-trailing-spaces":"off",
        "spaced-comment":"off",
        "max-len":"off",
        "padded-blocks": "off",
        "operator-linebreak":"off",
        "no-debugger":"off"
    },
    "extends": ["eslint:recommended", "google"]
}